In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

UsageError: Line magic function `%inline` not found.

##ID: ID of each client
LIMIT_BAL: Amount of given credit in NT dollars (includes individual and family/supplementary credit
SEX: Gender (1=male, 2=female)
EDUCATION: (1=graduate school, 2=university, 3=high school, 4=others, 5=unknown, 6=unknown)
MARRIAGE: Marital status (1=married, 2=single, 3=others)
AGE: Age in years
PAY_0: Repayment status in September, 2005 (-1=pay duly, 1=payment delay for one month, 2=payment delay for two months, â€¦ 8=payment delay for eight months, 9=payment delay for nine months and above)
PAY_2: Repayment status in August, 2005 (scale same as above)
PAY_3: Repayment status in July, 2005 (scale same as above)
PAY_4: Repayment status in June, 2005 (scale same as above)
PAY_5: Repayment status in May, 2005 (scale same as above)
PAY_6: Repayment status in April, 2005 (scale same as above)
BILL_AMT1: Amount of bill statement in September, 2005 (NT dollar)
BILL_AMT2: Amount of bill statement in August, 2005 (NT dollar)
BILL_AMT3: Amount of bill statement in July, 2005 (NT dollar)
BILL_AMT4: Amount of bill statement in June, 2005 (NT dollar)
BILL_AMT5: Amount of bill statement in May, 2005 (NT dollar)
BILL_AMT6: Amount of bill statement in April, 2005 (NT dollar)
PAY_AMT1: Amount of previous payment in September, 2005 (NT dollar)
PAY_AMT2: Amount of previous payment in August, 2005 (NT dollar)
PAY_AMT3: Amount of previous payment in July, 2005 (NT dollar)
PAY_AMT4: Amount of previous payment in June, 2005 (NT dollar)
PAY_AMT5: Amount of previous payment in May, 2005 (NT dollar)
PAY_AMT6: Amount of previous payment in April, 2005 (NT dollar)
default.payment.next.month: Default payment (1=yes, 0=no)

In [ ]:
data=pd.read_csv("UCI_Credit_Card.csv",index_col='ID')

In [ ]:
data.head(10)

In [ ]:
data.info()

In [ ]:
data.drop(['SEX','EDUCATION','MARRIAGE','default.payment.next.month'],axis=1).describe()

In [ ]:
#checking if there are any missing values in the dataset
data.isnull().sum()

In [ ]:
data.columns

In [ ]:
columns=['SEX','EDUCATION','MARRIAGE','PAY_0','PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6','default.payment.next.month']

In [ ]:
#checking the categorical values 
for col in columns:
    values=data[col].value_counts()
    print("The number categorical values in {} are\n{} " .format(col,values))

In [ ]:
#Grouping categories 4:others, 5:unknown, and 6:unknown to a single class '4' in Education variable
data['EDUCATION'].replace([0,5,6],4,inplace=True)

#Grouping category 0:unlabeled to single class '3'
data['MARRIAGE'].replace(0,4,inplace=True)

#Renaming label column
data.rename(columns={'default.payment.next.month':'DEFAULT'},inplace=True)

In [ ]:
#checking if the changes have been applied
for col in columns:
    values=data[col].value_counts()
    print("The number categorical values in {} are\n{} " .format(col,values))

In [ ]:

# for i in data['EDUCATION']:
    
#     if i == 0:
#         print(data['EDUCATION'].append(4))
#     elif i== 5:
#         print(4)
#     elif i == 6:
#         print(4)
#     else:
#         print(i)

In [ ]:
data['EDUCATION'].value_counts()

In [ ]:
data['SEX'].value_counts()